<!DOCTYPE html>
<html lang="pt-BR" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	
	<!-- Um fragmento para o cabeçalho -->
	
	<nav class="navbar navbar-dark bg-dark" th:fragment="cabecalho">
		<div class="container-fluid">
			<!--  Logo da empresa -->
			<a class="navbar-brand" href="#" th:href="@{/}">
				<img th:src="@{/images/cosmetik.gif}" alt="logo" width="262" height="44" class="d-inline-block align-text-top">
 			</a>

			<!-- Parte da direita -->
			<div class="d-flex flex-row align-items-center">
				<div class="navbar-text mb-0" sec:authorize="isAuthenticated()">
					<p class="navbar-text mb-0 ms-2">
						<span sec:authentication="name"></span>	
						<a th:href="@{/logout}">
							<i class="bi bi-box-arrow-right"></i>
						</a>
					</p>
     			</div>
				<div class="navbar-text mb-0" sec:authorize="!isAuthenticated()">
					<p class="navbar-text mb-0 ms-2">
						<a th:href="@{/login}">
							<i class="bi bi-box-arrow-in-right"></i>
						</a>
					</p>
     			</div>
			</div>
		</div>
	</nav>

</body>
</html>