<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
	<title>Página não encontrada.</title>
	<meta charset="UTF-8">
</head>
<body>
	<div layout:fragment="conteudo" class="d-flex flex-grow-1" id="conteudo">
		<div th:replace="~{layout/fragments/menuslaterais :: menulateral}"></div>
		<div class="col-10 p-5">
			<h1 class="text-center">A página buscada não existe.</h1>
			<br>
			<a th:href="@{/}">Voltar</a>
		</div>
	</div>

	<th:block layout:fragment="scripts">
		<!-- <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>  -->
	</th:block>
</body>
</html>
